In [3]:
import pandas as pd
import numpy as np
import requests

pd.set_option('display.max.columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 2)

"""
response = requests.get('url.com')
response.raise_for_status()
with open('path_new_csv.csv', 'wb') as f:
    f.write(response.content)
"""
    
df = pd.read_csv('original cars.csv', na_values='NULL', delimiter=';')

# Standardize column names: replace spaces with underscores and upper-case with lower-case
df.columns = [c.lower().replace(' ', '_') for c in df.columns]

In [4]:
df.head()

,car,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US

In [6]:
df.head(100)

,car,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
...,...,...,...,...,...,...,...,...,...
95,Ford Gran Torino,14.0,8,302.0,137.0,4042.0,14.5,73,US
96,Dodge Coronet Custom,15.0,8,318.0,150.0,3777.0,12.5,73,US
97,Mercury Marquis Brougham,12.0,8,429.0,198.0,4952.0,11.5,73,US
98,Chevrolet Caprice Classic,13.0,8,400.0,150.0,4464.0,12.0,73,US
99,Ford LTD,13.0,8,351.0,158.0,4363.0,13.0,73,US